@model EventEase.Models.Venue

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: var(--navy); border-bottom: 2px solid var(--peach); padding-bottom: 0.5rem;">
    @ViewData["Title"]
</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VenueId" />
            <div class="form-group">
                <label asp-for="VenueName" class="control-label">Venue Name</label>
                <input asp-for="VenueName" class="form-control" />
                <span asp-validation-for="VenueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueLocation" class="control-label">Venue Location</label>
                <input asp-for="VenueLocation" class="form-control" />
                <span asp-validation-for="VenueLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueCapacity" class="control-label">Venue Capacity</label>
                <input asp-for="VenueCapacity" class="form-control" />
                <span asp-validation-for="VenueCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUpload">Change image (optional):</label>
                <input asp-for="ImageUpload" type="file" class="form-control" accept="image/*" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top: 10px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
